*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
     /* so when i put the image below and put it under the content*/
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 80%;
margin: auto;
}
.logo{
width: 40px;
margin-top: 20px;
}
ul li{
    display: inline-block;
align-items: center;
}
ul li a{
color: white;
text-decoration: none;
margin: 0 10px;
border-bottom: 2px solid transparent;
}
ul li a:hover{
border-bottom-color: white;
}
.content{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;
}
.content .text{
color: white;
    width: 40%;
}
.content .text h2{
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
padding: 8px 15px;
    background-color: #fff;
    color: black;
font-size: 20px;
border-radius: 20px;
border: 2px solid transparent;
cursor: pointer;
}
.content .text a:hover{

 background-color: transparent;
    color: white;
    border-color: white;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
/* to put icon in the center*/ 
}
.icons img{
    width: 40px;
transition: 0.5s;
cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}